--extra-index-url https://download.pytorch.org/whl/cpu

# Core
numpy
openvino-tokenizers

# llm_bench dependencies
torch
transformers[sentencepiece]>=4.40.0
diffusers>=0.22.0
optimum-intel[nncf]>=1.25.0
packaging
psutil
timm
tiktoken
matplotlib
jinja2>=3.1.0
scipy
gguf_parser
gguf>=0.10
num2words
opencv-python
pillow

# Whisper
librosa
